subview,
buttongroup,
buttonelement {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
}
buttongroup > buttonelement {
  width: inherit !important;
  height: inherit !important;
  cursor: pointer;
}
buttongroup.webamp--img:active,
buttongroup.webamp--img:hover:active,
buttongroup.webamp--img:hover {
    background-image: var(--background-image);
}

buttongroup > buttonelement:hover {
    background-image: var(--hover-background-image, var(--background-image));
}
buttongroup > buttonelement:active,
buttongroup > buttonelement:hover:active{
    background-image: var(--down-background-image, var(--background-image));
  }
  
text.textz wrap{
  width: auto;
}

subview > * {
  background-color: var(--background-color);
}