body,
html {
    margin: 0;
    padding: 0;
}

#thefile {
    /* position: fixed; */
    /* bottom: 100px; */
    /* left: 10px; */
    z-index: 100;
    width: 100%;
}

.grid {
    display: inline-block;
    position: relative;
    width: 486px;
    height: 126px;
    background-image: url(preview/grid.png);
    background-size: contain;
    image-rendering: pixelated;
    /* margin: 10px; */
    /* transform: scale(6); */
    /* transform-origin: 0 0; */
}

.grid>.grid {
    margin: 0;
}

#canvas {
    position: absolute;
    left: calc(3 * 6px);
    top: calc(2 * 6px);
    /* width: 432px; */
    /* height: 96px; */
    width: 76px;
    height: 16px;
    transform: scale(6);
    transform-origin: 0 0;
}

audio {
    /* position: fixed; */
    /* left: 10px; */
    bottom: 10px;
    width: calc(100% - 0px);
}

#content {
    width: calc(100% - 210px);
    height: 100%;
    border: 1px solid red;

}

#choices {
    width: 200px;
    height: 99%;
    /* float: right; */
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid blue;
}

button {
    display: block;
    margin: 10px;
}

fieldset {
    border-collapse: collapse;
    /* display: table-cell; */
    border: 1px solid silver;
    position: relative;
}

fieldset::after {
    content: ':';
    position: absolute;
    left: 89px;
    top: 6px;
}
fieldset::before {
    content: attr(id) ;
    text-transform: capitalize;
    width: 70px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    vertical-align: top;
}

input[type="radio"] {
    display: inline-block;
    box-sizing: content-box;
    min-width: 40px;
    text-align: left;
    /* margin: 0; */
    position: relative;
    margin-left: 10px;
    background-color: aqua;
    border: 1px solid transparent;
    cursor: pointer;
    /* line-height: 2; */
    width:100px;
}
input[type="radio"]:hover {
    background-color: silver;
    border-color: blue;
}

input[type="radio"]::before {
    vertical-align: middle;
    content: attr(value) ;
    text-transform: capitalize;
    padding-left: 29px;
    padding-right: 15px;
    position: absolute;
    left: 37px;
    white-space: nowrap;
}

fieldset note {
    position: absolute;
    left: 500px;
    /* color: blue; */
    font-family: monospace;
}